langgraph
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
langchain-openai
tavily-python
wikipedia
trustcall
langgraph-cli[inmem]

typing_extensions
ipython
tiktoken
pydantic
transformers
torch
dotenv